<section>
    <h2>AIRES CATERING</h2>
    <p>Tu evento merece una propuesta gastronómica única, por eso, nuestro equipo de chefs trabaja junto a vos para diseñar un menú que se adapte a tus gustos, estilo y necesidades.</p>
    <p>Desde entradas irresistibles hasta postres que conquistan, cada detalle está pensado para sorprender.</p>

    <ul>
        <li>Menús diseñados a medida según el tipo de evento.</li>
        <li>Opciones gourmet, tradicionales y de vanguardia.</li>
        <li>Catering adaptable a cócteles, almuerzos, cenas de gala o reuniones informales</li>
        <li>Presentación cuidada al detalle para una experiencia visual y gastronómica impecable.</li>
    </ul>
</section>