<section>
    <h2>Eventos Sociales</h2>
    <p>Cada evento merece ser único. Por eso te acompañamos en cada detalle, combinando un salón preparado para todo tipo de celebraciones con la gastronomía premium de Aires Catering, para que vos solo disfrutes</p>

    <div>
        Imagenes
    </div>
</section>