---


---

<section>
    <img src="images/intro-bg.jpg" alt="Aires Salón">
    <article>
        <header class="half-circle left"></header>
        <hgroup>
            <p>En Aires Salón creamos experiencias únicas para cada celebración.</p>
            <p>Nuestro espacio versátil y cálido, junto a un servicio de excelencia, convierten tus momentos especiales en recuerdos inolvidables.</p>
        </hgroup>
        <footer class="half-circle right"></footer>
    </article>
</section>

<style>
    section {
        background-color: var(--light-beige);
    }
    img {
        display: block;
        max-width: 100%;
        width: 100%;
        height: 30rem;
        object-fit: cover;
        filter: brightness(0.5);
    }
    article {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-block: calc(var(--space) * 4);
    }
    .half-circle {
        /* min-width: 8rem;
        min-height: 8rem;
        border: 4px solid var(--desert-sand);
        border-radius: 100%; */
    }

    .half-circle.left {
        /* transform: translateX(-50%); */
    }
    .half-circle.right {
        /* transform: translateX(50%); */
    }

    hgroup {
        display: flex;
        flex-direction: column;
        gap: calc(var(--space) * 1.5);
    }
    p {
        max-width: 40ch;
        color: var(--desert-sand);
    }
</style>