<section>
    <hgroup>
        <p>A pocos minutos del centro de la ciudad, combinamos naturaleza, diseño y excelencia en cada detalle para convertir cualquier ocasión en un recuerdo inolvidable.</p>
    </hgroup>
</section>

<style>
    section {
        background-color: var(--light-beige);
        padding: 2rem;
    }

    hgroup {
        border-radius: 30rem;
        border: 4px solid var(--desert-sand);
        color: var(--desert-sand);
    }

    p {
        padding: 3rem;
    }
</style>