<section>
    <h2>OTRAS CELEBRACIONES ESPECIALES</h2>
    <p>Cumpleaños, aniversarios o reuniones íntimas.</p>
    <p>Siempre hay motivos para celebrar rodeados de quienes más querés, en un espacio versátil que se adapta a cada ocasión.</p>
</section>